<?xml version="1.0" encoding="UTF-8"?>
<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         bootstrap="../bootstrap.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="false"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="false"
         failOnWarning="false">
    <testsuites>
        <testsuite name="unit">
            <directory>../tests/unit</directory>
        </testsuite>
        <testsuite name="flow">
            <directory>../tests/flow</directory>
        </testsuite>
        <testsuite name="fragment">
            <directory>../tests/fragment</directory>
        </testsuite>
        <testsuite name="psr">
            <directory>../PsrPipeline</directory>
        </testsuite>
    </testsuites>
    <!--
        APCu is disabled by default for the test run. The APCu config cache is
        backed by a process-wide store that is not reset between tests and can
        leak compiled config between unrelated test classes. The tests covering
        QuioteAPCuConfigCache are tagged @group apcu and excluded here; run them
        explicitly with `composer test:apcu` (which enables apc.enable_cli).
    -->
    <groups>
        <exclude>
            <group>apcu</group>
        </exclude>
    </groups>
    <php>
        <env name="QUIOTE_ISOLATION_ENVIRONMENT" value="testing"/>
        <env name="QUIOTE_ISOLATION_DEFAULT_CONTEXT" value="web"/>
        <env name="QUIOTE_ISOLATION_CLEAR_CACHE" value="1"/>
           <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />
    </php>
    <source>
        <include>
            <directory>../../Quiote</directory>
        </include>
        <exclude>
        <directory>../../Quiote/translation/data</directory>
        </exclude>
    </source>
</phpunit>